::selection {
    background: #ffb7b7;
    /* WebKit/Blink Browsers */
}

body {
    width: 175px;
    height: 150px;
    font-size: 21px;
}

#login-item,
#logout-item {
    color: #E54A4E;
    text-decoration: underline;
    cursor: pointer;
}

.userSession {
    margin-bottom: 5px;
}

#login_screen {
    color: #E54A4E;
}

.buttons {
    margin: 5px;
    display: inline;
}

button {
    height: 25px;
    color: white;
    background-color: #E54A4E;
    border: none;
    font-size: 15px;
}

button:focus {
    outline-color: #E54;
    outline-width: medium;
}

input[type='text'],
input[type='password'] {
    margin: 5px;
    border: none;
    border-bottom: solid thin #E54A4E;
    font-size: 15px;
}

input[type='text']:focus,
input[type='password']:focus {
    outline: none;
}

.onoffswitch {
    position: relative;
    width: 90px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 21px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #E54A4E;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 19px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#menu {
    padding: 0 50px;
}

#message {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 10;
    width: 200px;
    float: left;
}

.error {
    display: block;
    animation: fadein 3s linear forwards;
    color: whitesmoke;
    background-color: #CE5630;
}

.success {
    display: block;
    animation: fadein 3s linear forwards;
    color: whitesmoke;
    background-color: #009688;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        transform: translateY(0px);
    }
    99% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 0;
    }
}