::selection {
    background: #ffb7b7;
    /* WebKit/Blink Browsers */
}

.banner {
    background-color: #E6474A;
    width: 100%;
    height: 29px;
    top: 16px;
    position: fixed;
    /*box-shadow: 0px 3px 6px #CCCCCC;*/
}

.logo {
    width: 172px;
    height: 17px;
    left: 9px;
    top: 22px;
    position: fixed;
}

body {
    width: 231px;
    height: 170px;
    margin: 0;
    background-color: #ECF0F1;
    /*//font-size: 21px;*/
}

#login_screen {
    color: #E54A4E;
    margin: 8px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 9px #ccc;
    padding: 5px;
    top: 52px;
    position: absolute;
}

.buttons {
    margin: 5px;
    display: inline;
}

button {
    height: 25px;
    background-color: #25c2a3;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-family: 'proximaNovaRegular', Arial, Helvetica, Sans-Serif;
    font-size: 14px;
    cursor: pointer;
    line-height: 1.5;
    outline: 0;
}

button:focus {
    outline-color: #E54;
    outline-width: medium;
}

input[type='text'],
input[type='password'] {
    margin: 5px;
    border: none;
    border-bottom: solid thin #E54A4E;
    font-size: 15px;
    width: 90%;
}

input[type='text']:focus,
input[type='password']:focus {
    outline: none;
}

#message {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    float: left;
    padding: 10px;
}

.error {
    display: block;
    animation: fadein 3s linear forwards;
    color: whitesmoke;
    background-color: #AF2B2B;
}

.success {
    display: block;
    animation: fadein 3s linear forwards;
    color: whitesmoke;
    background-color: #0FA862;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        transform: translateY(0px);
    }
    99% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 0;
    }
}