#contentstack-highlight {
    position: absolute;
    border: solid 2px #E54A4E;
    z-index: 1;
}

#contentstack-hoverBox {
    margin-top: 3px;
    left: auto;
    border: solid 1px #E54A4E;
    box-shadow: 5px 5px 12px #aaaaaa;
    position: absolute;
    z-index: 10;
    height: 100px;
    /*animation: fadein 10s ease-in;*/
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    background-color: white;
    color: #E54A4E;
    display: none;
    opacity: 0px;
}

#contentstack-hoverbox-icons {
    text-align: center;
    margin-top: 10px;
}

.hoverButtons {
    display: inline;
    margin-top: 0;
    height: 43px;
    width: 43px;
    border: none;
    cursor: pointer;
}

#contentstack-entryInfo {
    font-size: 15px;
    line-height: normal;
    padding: 10px;
    padding-bottom: 3px;
}

.spacer {
    padding: 0 8px;
}

@keyframes fadein {
    0% {
        opacity: 0;
        display: none;
    }
    90% {
        opacity: 1;
        transform: translateY(0px);
        display: block;
    }
}

#contentstack-message {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 10;
    width: 75%;
    float: left;
    top: 0;
    left: 0;
    padding: 0 15%;
}

.error {
    display: block;
    animation: messagefadein 3s linear forwards;
    color: whitesmoke;
    background-color: #AF2B2B;
}

.success {
    display: block;
    animation: messagefadein 3s linear forwards;
    color: whitesmoke;
    background-color: #0FA862;
}

@keyframes messagefadein {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        transform: translateY(0px);
    }
    99% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 0;
    }
}