#contentsack-highlight {
    position: absolute;
    border: solid 2px #E54A4E;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    z-index: 1;
}

#contentstack-clickablediv {
    display: none;
    z-index: 13;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    position: absolute;
}

#contentstack-hoverBox {
    margin-top: 8px;
    left: auto;
    border-color: transparent;
    border-style: dashed dashed solid;
    position: absolute;
    z-index: 10;
    height: 30px;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    background-color: #E54A4E;
    color: white;
    display: none;
}

#contentstack-hoverBox-internal {
    border-color: transparent transparent whitesmoke;
    border-style: dashed dashed solid;
    position: absolute;
    z-index: 11;
    height: 0;
    width: 0;
    -webkit-animation: gb__a .2s;
    animation: gb__a 0.2s;
    border-width: 0 8px 8px;
    border-bottom-color: #E54A4E;
    display: none;
}